@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


body {
    background-image: url(images/bg-pattern-top.svg);
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    line-height: 1.8;
}

main {
    background-color: #fff;
    border-radius: 20px;
    max-width: 350px;
    min-height: 50vh;


}


p {
    font-weight: 400;
    font-size: 18px;
    color: hsl(227, 10%, 46%);
    font-family: 'Kumbh Sans', sans-serif;

}


h3 {

    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
}




.top {
    background-image: url(images/bg-pattern-card.svg);
    width: 350px;
    height: 22vh;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.top img {
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    left: 35%;
    top: 65%;
}

.name {
    text-align: center;
    margin-top: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 4.5rem 1rem 1rem;
}


.name span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin: 0 5px;
}





.line {
    border-bottom: 1px solid lightgray;
}


.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
}




.bottom-1 {
    display: flex;
    align-items: center;
}






@media only screen and (max-width: 500px) {

    main {
        max-width: 330px;
    }

    .top {
        width: 330px;
    }

}





@media only screen and (max-width: 320px) {

    main {
        max-width: 290px;
    }

    .top {
        width: 290px;
    }

}